.bg-custom {
    background: linear-gradient(#0f1728, #fea116);
}

.active {
    background-color: #ffffff1a;
    color: #fff;
}

.fog {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 60;
}

.line {
    width: 80%;
    background-color: #999;
    height: 1px;
}