@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

nav>ul,
nav>ul>li {
    outline: 0;
}

nav>ul>li>.link-text {
    text-decoration: none;
}

body {
    min-height: 100vh;
   background-color: white;
}

/* MAIN MENU */

.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    overflow: hidden;
    background: #0f1728;
    transition: width .05s linear;
    -webkit-transition: width .05s linear;
    z-index: 10;
    padding-top: 10px;
}

.main-menu:hover {
    width: 190px;
    overflow: visible;
}

.main-menu>ul>li {
    position: relative;
    display: block;
    width: 190px;
    cursor: pointer;
}

.main-menu>ul>li>.link-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    padding: 10px 0;
}

.nav-icon {
    width: 60px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}

.nav-text {
    width: 120px;
    height: 20px;
    font-family: "Mulish", sans-serif;
}

.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.main-menu li:hover>.link-text,
.main-menu li.active>.link-text,
.main-menu li>.link-text:focus {
    text-decoration: none;
    color: #fff;
    background-color: #fea31b;
}

@media (max-width: 900px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    section {
        grid-template-columns: repeat(1, 1fr);
    }
}